.contact-container{
    margin: auto;
    background: white;
	max-width: 90%;
	margin-top: 110px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    margin-bottom: 55px;
    padding: 50px;
}

.panel-header{
    font-size: 15px;
    color:#FF8207;
    margin-left: auto;
    margin-right: auto;
 }
.panel-header :hover{
    opacity: 0.5;
 }

.contact-content{
    padding: 25px;
    text-align: justify;
   
} 
.contact-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px; 
}

 .contact-map{
    height: 250px;
    width: 350px;
    margin-top: 5px;
    border: black;
}
