.footer-links{

    background: #689626; 
    color: white;
    font-size: 12px;
    padding: 35px 0;

}

.footer-container-page{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.footer-container-page ul{
    margin: 0 auto;
    list-style:none;
}

.footer-container-page h5{
    color: #343A40;
}

.footer-container-page ul li{
    line-height: 2.8;

}

.footer-container-page .icons-social{
    font-size: 1.2rem;
}
.footer-development{
    background: #343A40;
    color: white;
    padding: 3px 0;
    text-align: center;
}

/* CONTACT WHATSAPP*/

.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:auto;
}


@media (max-width:700px){
   
    .footer-container-page {
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-container-page ul{
        list-style:none;
        }
}

@media (max-width:500px){

    .footer-container-page ul{
    list-style:none;
    }

    .footer-container-page{
        text-align: center;
        grid-template-columns: 1fr ;
    }

}