@import url('https://fonts.googleapis.com/css?family=Roboto:700');
*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

body{
    background: #F3F3F3 ;
    color: black;
    background-color: rgba(87, 80, 80, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container-home{
    width: 95%;
    margin: auto;
    background: white;
	max-width: 1200px;
	margin-top: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);

}
.showcase img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.btn-card-two {
    text-decoration: none;
    cursor: pointer;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
    border: 1px solid white ;
    margin: 10px 0;
    
}

.btn-card-two:hover{
    opacity: .9;
}
/* News Cards*/

.news-cards2 .card-right img{
    height: 100%;
    width: 80%;
    object-fit: cover;

}
.news-cards2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px; /* espaciado entre columnas*/
    margin: 25px 0;
    text-align: center;
}
.news-cards2 p{
    padding: 25px;
    text-align: justify;
}

hr{

    border: 1px solid #289607;
    width: 225px;

    
}

/* Cards Banner two*/
.cards-banner-two{
    width: 100%;
    height: 350px;
    background: url('../img/medicine.jpg') no-repeat center center/cover ;
    margin-bottom: 40px;
}

.cards-banner-two .content{
    width: 40%;
    padding: 100px 0 0 30px;

}
.cards-banner-two .content .content-title{
    color: black;
    font-weight: bold;
}

.cards-banner-two .content p{
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.cards-banner-two .content h2{
    color: white;

}

/*Section*/

.sec1{
    width: 100%;
    height: 100vh;
    background: url(../img/medicine.jpg);
    background-size: cover;    
}
.sec-content {
    background: rgb(12, 8, 8 ,.5);
    height: 100vh;    
}

.sec-content .title-sec1{

    padding-top: 30%;
    padding-left: 5%;               
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-align: left;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

@media (max-width:700px){

    .news-cards2{
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px; /* espaciado entre columnas*/
        margin: 25px 0;
        text-align: center;
    }
    .cards-banner-two .content{
        width: 80%;
    }
    .footer-links .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .sec-content .title-sec1{
        padding-top: 45%;
    }

}

@media (max-width:500px){
    .cards-banner-two .content{
        width: 100%;
        padding: 60px 20px;
    }
 
}

@media (max-width:400px){
    .cards-banner-two .content{
        width: 100%;
        padding: 60px 20px;
    }
 
    .sec-content .title-sec1{
        font-size: 70px;
        padding-top: 50%;
        text-align: center;
    }
}

