@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.product-container{
    margin: auto;
    background: white;
	max-width: 90%;
	margin-top: 110px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    margin-bottom: 55px;
    padding: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

.panel-header{
    font-size: 15px;
    color:#FF8207;
    margin-left: auto;
    margin-right: auto;
 }

 .panel-header :hover{
    opacity: 0.5;
 }

 .product-content{
    padding: 25px;
	text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
   
}
.product-gallery{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.card-product:hover{
	cursor: pointer;	
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8); 
}
.card-product img{
   margin-left:8%;
   margin-right: auto; 
   width: 80%;
   object-fit: cover;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8); 
}

.card-product h4{
	margin-top: 25px;
	text-align: center;
	font-weight: bold;

}
.card-product p{
	text-align: center;
}
.card-product span{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}
.card-product Button{
	margin-top: -10%;
	margin-left: 90%;
	height: 35px;
	background: none;
}

.card-product i{
	text-align: right;
	color: #000;
	font-size: 25px;
}

/*Modal*/
.modal-header{
	background: rgb(129,226,83);
    background: linear-gradient(90deg, rgba(129,226,83,0.9948354341736695) 25%, rgba(52,171,46,1) 97%);
    color: rgb(26, 21, 21);
    
}
.modal-body {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.modal-body img{
	text-align: center;
	width: 80%;
	margin-top: 15%;
	margin-left:5%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8); 

}


@media (max-width:900px){
	.product-gallery{
		grid-template-columns: 1fr 1fr;
		gap: 10px;	
	}
	.modal-body{
		grid-template-columns: 1fr ;
	}
	.modal-body img{
		margin-left: 10%;
		margin-top:1%;
		margin-bottom: 5%;
	 }
}

@media (max-width:600px){
	.product-gallery{
		grid-template-columns: 1fr;
		
	}

}
